@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

li{
  list-style: none;
}

img{
  max-width: 100%;
}

.header{
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
  padding: 20px;
  z-index: 100;
  top: 0;
  
}

.name{
  font-size: 40px;
  font-family:sans-serif;
  letter-spacing: 10px;
  float: left;
  padding-left: 40px;


}





.menu-list li{
  float: left;
  
  font-size: 25px;
  letter-spacing: 5px;
  font-family:sans-serif;
  padding: 15px 80px;
  cursor: pointer;

}
span{
  
  letter-spacing: 10px;
  font-size: 35px;
}

#content{
  position: relative;
  margin: 100px auto;
  padding: 20px;
  max-width: 1000px;
}

.set01{
  text-align: center;
  background-color: #fff;
  opacity: 0.6;
  min-height: 520px;
  margin-bottom: 100px;
}

.set02{
  text-align: center;
  background-color: #fff;
  opacity: 0.5;
  min-height: 520px;
  margin-bottom: 100px;
}

.set03{
  text-align: center;
  background-color: #fff;
  opacity: 0.5;
  min-height: 520px;
  margin-bottom: 100px;
}

.set04{
  text-align: center;
  background-color: #fff;
  opacity: 0.5;
  min-height: 520px;
  margin-bottom: 100px;
}

.set01-title{
  letter-spacing: 10px;
  font-size: 50px;
  padding-top: 100px;
}
.set01 p{
  font-size: 30px;
  padding-top: 60px;
}

.set02-title{
  letter-spacing: 10px;
  font-size: 50px;
  padding-top: 80px;
}
.set02 p{
  font-size: 30px;
  padding-top: 60px;
}

.set03-title{
  letter-spacing: 10px;
  font-size: 50px;
  padding-top: 100px;
}
.set03 p{
  font-size: 30px;
  padding-top: 60px;
}

.set04-title{
  letter-spacing: 10px;
  font-size: 50px;
  padding-top: 100px;
}
.set04 p{
  font-size: 30px;
  padding-top: 60px;
}


body.myicon #backimg01,
body.one #backimg02,
body.two #backimg03,
body.three #backimg04{
  opacity: 1;
}

#back{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fcfcfc;
}

.backimg{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s all;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

